.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}
.box{
    order: 5;
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: mediumseagreen;
    font-size: 1rem;
    width: 5%;
    height: 47px;
}
.box2{
    background-color: turquoise;
    font-size: 2rem;
    width: 8%;
    height: 69px;
}
.box3{
    background-color: teal;
    font-size: 4rem;
    width: 14%;
    height: 110px;
}
.box4{
    background-color: blueviolet;
    font-size: 2rem;
    width: 8%;
    height: 69px;
}
.box5{
    background-color: darkorange;
    font-size: 1rem;
    width: 5%;
    height: 47px;
    
}
